<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="Ajay"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Verma"><br><br>
  <button type="submit">Save</button> <br><br>
  <label for="lname">Output:</label><br>
  <div>
  <input type="text" value="{{output}}">
  </div>
</form> 

<p>If you click the "Submit" button, the form-data will be sent to Output".</p>

</body>
</html>

